.document-stats-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.document-graph-div{
    width: 400px;
}

@media screen and (max-width: 768px) {
    .document-stats-div{
        flex-direction: column;
    }
    .document-graph-div {
        width: 300px;
    }
}