:root{
    --image-item-width:300px;
    --image-item-border-radius: 16px;
    --image-item-background: #f1f1f1;
    --image-item-infos-background: #1e47a2;
    --infos-bg: #e8e8e8;
    --infos-h: 3em;
}

.image-div {
    width: var(--image-item-width);
    height: calc(var(--image-item-width)*0.8);
    border-radius: var(--image-item-border-radius);
    background-color: var(--image-item-background);
    border: 1px solid darkgrey;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

.image-infos-div{
    position: absolute;
    bottom: 0;
    width: var(--image-item-width);
    min-width: 300px;
    border-radius: 0 0 var(--image-item-border-radius) var(--image-item-border-radius);
    background-color: var(--infos-bg);
    border-top: 1px solid darkgray;
    height: var(--infos-h);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.image-infos-div .sense-count-span {
    color: black;
    font-weight: 600;
    font-size: 0.8em;
    margin-right: 0.7em;
}

.image-infos-div .image-id-span {
    color: red;
    padding: 0.2em;
    background-color: #cecece;
    border-radius: 5px;
    color: red;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    font-weight: 400;
    margin-left: 0.7em;
}

.image-div:where(:hover, :active) {
    transform: scale(105%);
}

.image-div:where(:hover, :active) .image-infos-div {
    transform: translateY(var(--infos-h));
}

.image_previs {
    object-fit: cover;
}
.image-div:where(:hover, :active) .image_previs{
    filter: opacity(20%);
}

.graph-div {
    position: absolute;
    top: 0;
    width: var(--image-item-width);
    border-radius: var(--image-item-border-radius);
    padding-left: 0.5em;
}
