.flex-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#navbar-div{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--bg-color);
    height: var(--nav-size);
    border-bottom: solid 1px lightgray;
    padding-left: 1em;
    padding-right: 1em;
}

#navbar-div h1 {
    cursor: pointer;
    font-size: 1.6em;
    transition: all 0.5s ease-in-out;
}

#navbar-div img {
    cursor: pointer;
    height: 2.5em;
    margin-right: 1em;
}

#sign-up-button {
    margin-right: 1em;
}

#navbar-title:hover h1 {
    color: darkgrey;
}


#login-button {
    background-color: var(--image-item-infos-background);
    padding: 1em;
    border-radius: 15px;
    color: white;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#login-button:hover {
    background-color: darkgrey;
}

#login-button:active {
    background-color: black;
}

@media screen and (max-width: 768px) {
    #navbar-div h1 {
        display: none;
    }

    #sign-up-button {
        display: none;
    }
}